section{
    padding: 60px;
  
.seccion__img{
    float: left;
    margin: 0%;
    padding: 0%;
    width: 320px;
    height: 320px;
    display: inline-block;
}
.seccion__texto{
    float: left;
    margin: 5px;
    padding-bottom:120px;
    text-align: justify;
    width: 320px;
    height: 200px;
    display: inline-block;
}

}